<section id="course-section">
  <div class="pb-5">
    <div class="text-center mb-5 pb-3 mt-4 pt-5">
      <p class="text-uppercase mb-0 pres">Vous etes prêt à apprendre ?</p>
      <h3 class="text-secondary">Body mass index</h3>
    </div>
    <div class="container">
      <!-- <div class="mt-4 d-flex justify-content-center">
        <div class="spinner-border text-primary " role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div> -->
      <div class="row mb-5 info">
        <div class="col-md-6 mt-4">
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header class="text-center">
                Product Details
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
        <div class="col-md-6 mt-4">
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header>
                Reviews
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-accordion-item-body>
            </nb-accordion-item>

          </nb-accordion>
        </div>
        <div class="col-md-6 mt-4">
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header>
                Product Details
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
        <div class="col-md-6 mt-4">
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header>
                Reviews
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-accordion-item-body>
            </nb-accordion-item>

          </nb-accordion>
        </div>
        <div class="col-md-6 mt-4">
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header>
                Product Details
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
        <div class="col-md-6 mt-4">
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header>
                Reviews
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-accordion-item-body>
            </nb-accordion-item>

          </nb-accordion>
        </div>
        <div class="col-md-6 mt-4">
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header>
                Product Details
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
        <div class="col-md-6 mt-4">
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header>
                Reviews
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                Originally, nebula was a name for any diffuse astronomical object,
                including galaxies beyond the Milky Way.
              </nb-accordion-item-body>
            </nb-accordion-item>

          </nb-accordion>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-8">
          <nb-tabset>
            <nb-tab tabTitle="Users">
              <h4 class="mt-3">Body mass index (BMI) </h4>
              <p class="mt-5">Body mass index (BMI) uses weight and height to estimate body fat. A high BMI is
                associated with an
                increased risk for chronic diseases such as heart disease, high blood pressure, and type 2 diabetes in
                adults.
                BMI provides a reasonable estimate of body fat for most people. However, it has limitations. For
                example, BMI may:
                Underestimate body fat for older adults or people with low muscle mass
                Overestimate body fat for people who are very muscular and physically fit

                In addition, BMI may underestimate risk for people of Asian descent, in part because it doesn't factor
                in the risk conferred by excess abdominal fat.
                Therefore, it's useful to look at waist size (measured slightly above the hipbones in adults) in
                addition to BMI. Health risks go up with increasing waist size, regardless of BMI.
                Talk with your doctor if you have questions about your BMI or waist size.
                Adult BMI calculator based on 2013 AHA/ACC/TOS Guideline for the Management of Overweight and Obesity in
                Adults: A Report of the American College of Cardiology/American Heart Association Task Force on Practice
                Guidelines and The Obesity Society. BMI classification. World Health Organization. Adapted by Mayo
                Foundation for Medical Education and Research.
                Child BMI calculator based on clinical growth charts. Centers for Disease Control and Prevention.
                Adapted by Mayo Foundation for Medical Education and Research.
                Privacy assurance: Information that you enter won't be saved or sent to any website.
              </p>
            </nb-tab>
            <nb-tab tabTitle="Orders">
              <h4 class="mt-3">1Limitations of BMI</h4>
              <p>Although BMI is a widely used and useful indicator of healthy body weight, it does have its
                limitations. BMI is only an estimate that cannot take body composition into account. Due to a wide
                variety of body types as well as distribution of muscle, bone mass, and fat, BMI should be considered
                along with other measurements rather than being used as the sole method for determining a person's
                healthy body weight.</p>
              <strong>In adults:</strong>
              <p>BMI cannot be fully accurate because it is a measure of excess body weight, rather than excess body
                fat. BMI is further influenced by factors such as age, sex, ethnicity, muscle mass, and body fat, and
                activity level, among others. For example, an older person who is considered a healthy weight, but is
                completely inactive in their daily life may have significant amounts of excess body fat even though they
                are not heavy. This would be considered unhealthy, while a younger person with higher muscle composition
                of the same BMI would be considered healthy. In athletes, particularly bodybuilders who would be
                considered overweight due to muscle being heavier than fat, it is entirely possible that they are
                actually at a healthy weight for their body composition. Generally, according to the CDC:</p>
              <li>Older adults tend to have more body fat than younger adults with the same BMI.</li>
              <li>Women tend to have more body fat than men for an equivalent BMI.</li>
              <li>Muscular individuals and highly trained athletes may have higher BMIs due to large muscle mass.</li>
              <strong>In children and adolescents:</strong>
              <p>The same factors that limit the efficacy of BMI for adults can also apply to children and adolescents.
                Additionally, height and level of sexual maturation can influence BMI and body fat among children. BMI
                is a better indicator of excess body fat for obese children than it is for overweight children, whose
                BMI could be a result of increased levels of either fat or fat-free mass (all body components except for
                fat, which includes water, organs, muscle, etc.). In thin children, the difference in BMI can also be
                due to fat-free mass.
                That being said, BMI is fairly indicative of body fat for 90-95% of the population, and can effectively
                be used along with other measures to help determine an individual's healthy body weight.
              </p>
            </nb-tab>
            <nb-tab tabTitle="Transactions">
              <h4 class="mt-3">2Is Body Mass Index reliable?</h4>
              <p>Your BMI, or Body Mass Index, is a measure of your weight compared to your height. Accurate assessments
                of obesity are important, as being overweight or obese significantly increases your risk of a variety of
                medical conditions including type 2 diabetes <a href="">type 2 diabetes</a>,<a href="">heart
                  disease </a> and <a href="">cancer. As levels of overweight or obesity increase, the spotlight has
                  fallen on BMI and its shortcomings as a measure of ideal weight for individuals, rather than whole
                  populations of people where 'averages' apply.
                  "Some people naturally have a larger frame than others. But this causes quite a small variation in
                  weight and is accounted for in the range of healthy BMI. There is really no such thing as someone who
                  is big-boned." Dr Jan Sambrook, How to lose weight in a healthy way
                  For most adults, BMI gives a good estimate of your weight-related health risks. If your BMI is over
                  35, your weight is definitely putting your health at risk, regardless of the factors below. However,
                  there are some situations where BMI may underestimate or overestimate these risks in the 25-35 BMI
                  range. The main ones are:
                </a></p>
              <strong>Children</strong>
              <p>Your GP or health visitor can advise on where your child sits on the ‘centile charts’ used to estimate
                healthy weights for children.</p>
              <strong>Pregnant women</strong>
              <p>Usual BMI estimates do not apply if you’re pregnant.</p>
              <strong>If you are very muscular</strong>
              <p>BMI assumes you have an average amount of body fat, including ‘intra-abdominal fat’ – fat deep inside
                your stomach cavity rather than under your skin. Intra-abdominal fat is much more closely linked to
                risks of type 2 diabetes and heart disease than fat under the skin.
                If you are very muscular, your level of body fat may be lower than predicted by your BMI. However, this
                only applies to people who do high levels of exercise – much more than average.
              </p>
              <strong>If you are of Asian origin</strong>
              <p>People of Asian origin are prone to accumulating intra-abdominal fat (fat deep inside your stomach
                cavity rather than under your skin) at a lower BMI than people of Caucasian origin. People with this
                pattern of weight gain are described as ‘apples’ rather than ‘pears’ from their body outline. This means
                their health risks start to rise at a lower BMI, because intra-abdominal fat is directly linked to
                development of heart disease and type 2 diabetes.
                The World Health Organisation has looked at the evidence and because of the variability between
                different Asian populations, it hasn't officially changed the cut-off points. However, it does recommend
                that for public health purposes, some Asian groups should be considered overweight if their BMI is
                22-25, and obese with a BMI of 26-31.
              </p>
              <strong>Older people (over 65, possibly over 60)</strong>
              <p>Because muscle mass tends to drop and body fat tends to rise in older people, BMI may not be an
                accurate reflector of body fat if you're over 60.</p>
            </nb-tab>
          </nb-tabset>
        </div>
        <div class="col-md-3 d-flex align-items-center">
          <img src="../../../../assets/images/pexels-pixabay.jpg" width="50%" height="80%">
        </div>
      </div> -->

      <!-- <div class="row">
        <div class="col-12 col-md-6">
          <nb-flip-card>
            <nb-card-front>
              <nb-card accent="info" status="warning">
                <nb-card-header>Front Card Header</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card accent="primary" status="info">
                <nb-card-header>Back Card Header</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
        <div class="col-12 col-md-6">
          <nb-flip-card>
            <nb-card-front>
              <nb-card accent="info" status="warning">
                <nb-card-header>Front Card Header</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card accent="primary" status="info">
                <nb-card-header>Back Card Header</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
        <div class="col-12 col-md-6">
          <nb-flip-card>
            <nb-card-front>
              <nb-card accent="info" status="warning">
                <nb-card-header>Front Card Header</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card accent="primary" status="info">
                <nb-card-header>Back Card Header</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
        <div class="col-12 col-md-6">
          <nb-flip-card>
            <nb-card-front>
              <nb-card accent="info" status="warning">
                <nb-card-header>Front Card Header</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card accent="primary" status="info">
                <nb-card-header>Back Card Header</nb-card-header>
                <nb-card-body>
                  A nebula is an interstellar cloud of dust, hydrogen,
                  helium and other ionized gases.
                  Originally, nebula was a name for
                  any diffuse astronomical object,
                  including galaxies beyond the Milky Way.
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>

      </div>
      <div class="row d-flex justify-content-center align-items-center my-5" data-aos="fade-up">
        <button nbButton status="primary" routerLink="/formations">Voir tous les cours <nb-icon
            icon="arrow-forward-outline">
          </nb-icon></button>
      </div> -->
    </div>
  </div>
</section>
