<div id="footer-section">
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row py-5">
        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
          <div class="mb-4">
            <a href="#">
              <div class="logo ml-5"><span><img src="../../../assets/images/logo/calculator.svg" width="80px"
                    height="100%" alt="Body calculator"></span>
              </div>
            </a>
          </div>
          <div class="footer-text">
            <!-- <p>Ask for help & give a hand The first collaborative platform for high school students.</p> -->
          </div>
          <div class="d-flex flex-colmun mt-3">
            <div class="footer_social text-center mr-3">
              <a aria-label="facebook" class="d-block" href="https://www.facebook.com/">
                <fa-icon class="social-icon" [icon]="faFacebook"></fa-icon>
              </a>
            </div>
            <div class="footer_social text-center mr-3"><a aria-label="fa-google-plus" class="d-block"
                href="https://www.facebook.com/">
                <fa-icon class="social-icon" [icon]="faGooglePlus"></fa-icon>
              </a>
            </div>
            <div class="footer_social text-center mr-3"><a aria-label="instagram" class="d-block"
                href="https://www.facebook.com/">
                <fa-icon class="social-icon" [icon]="faInstagram"></fa-icon>
              </a>
            </div>
            <div class="footer_social text-center"><a aria-label="Twitter" class="d-block"
                href="https://www.facebook.com/">
                <fa-icon class="social-icon" [icon]="faTwitter"></fa-icon>
              </a></div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4 ">
          <strong class="footer-title">Contact</strong>
          <div class="footer-text mt-4">
            Email : contact@bodycalculator.com
          </div>
          <div class="footer-text mt-4">
            Tele : +212610929672
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
          <strong class="footer-title">Links</strong>
          <div class="footer-text">
            <a routerLink="/about" class="d-block mb-2 text-decoration-none footer-text mt-4">About</a>
            <a routerLink="/blog" class="d-block mb-2 text-decoration-none footer-text">Blog</a>
            <a routerLink="/contact" class="d-block mb-2 text-decoration-none footer-text">Contact</a>
          </div>
        </div>
      </div>
      <div class="row copyright_row">
        <div class="col">
          <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
            <div class="footer-text">
              Copyright &copy; {{dt}} All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                href="https://body-calculator.com" target="_blank" rel="noopener">Body calculator</a>
            </div>
            <div class="ml-lg-auto ">
              <div class="d-flex footer-text">
                <a class="d-block text-decoration-none mr-4" routerLink="/terms">Terms of Use</a>
                <a class="d-block text-decoration-none" routerLink="/private-policy">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
