@import '../../../mediaqueries.scss';
@import '../../../variables.scss';



#footer-section {

  /*********************************
    14. Footer
    *********************************/
  .footer-text {
    font-family: font(font-family-regular);
    color: #FFFFFF;
    font-size: 18px;
  }

  .footer-text a {
    // font-family: $poppins-black;
    font-family: font(font-family-regular);
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
  }

  .footer-text a:hover {
    color: color(primary);
  }

  .footer-title {
    font-family: font(font-family-regular);

  }

  .footer {
    // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(138, 6, 99, 1) 35%, rgba(115, 0, 255, 1) 100%);
    // ;
    background: linear-gradient(90deg, color(blue-primary) 0%, color(primary) 35%, color(primary-light) 100%);
  }

  .footer_social {
    display: inline-block;
    border-radius: 50%;
    background-color: #4b505d;
    width: 42px;
    height: 42px;
    // margin-top: 23px;
  }

  .footer_social a i {
    line-height: 45px;
    font-size: 20px;
    color: white;

    &:hover {
      color: color(primary);
    }
  }

  .footer_social a {
    // text-align: center;
    // line-height: 45px;
    // margin-top: 10px;
    // margin-left: 15px;
    // font-size: 20px;
    // color: white;
  }

  .copyright {
    height: 54px;
    border-top: solid 1px #353a49;
  }

  .copyright div {
    font-family: font(font-family-regular);
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
  }
}
