<footer id="footer" class="pt-5 pb-0 pb-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
        <h6 class="text-secondary mb-4">BIF</h6>
        <p>+44 345 678 903</p>
        <p>BIF@mail.com</p>
        <p>adresse de BIF au Maroc</p>
        <a class="mr-2" href="http://"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a class="mr-2" href="http://"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a class="mr-2" href="http://"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a class="mr-2" href="http://"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
        <h6 class="text-secondary mb-4">Des liens utiles</h6>
        <a routerLink="/formations" class="d-block mb-2 text-decoration-none text-secondary">Formation</a>
        <a href="#contact-section" class="d-block mb-2 text-decoration-none text-secondary">Contact</a>
        <a routerLink="/auth" class="d-block mb-2 text-decoration-none text-secondary">Registre</a>
        <a class="text-decoration-none text-secondary" href="">Contactez-nous</a>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-4">
        <h6 class="text-secondary mb-4">Des liens utiles</h6>
        <a class="d-block mb-2 text-decoration-none text-secondary" href="">A propos</a>
        <a class="d-block mb-2 text-decoration-none text-secondary pointer" (click)="goToEspace()">Espace Candidat</a>
      </div>

      <div class="col-12  mt-4  mx-auto">
        <p class="copyrights text-center text-lg-left">Copyrights BIF &copy; {{dt}}</p>
      </div>
    </div>
  </div>
</footer>
