<section class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 order-2 order-md-1 d-flex justify-content-center align-items-center">
        <div class="p-2">
          <p class="hero-title">Body Fat Calculator</p>
          <p class="hero-subtitle">Apprendre est un voyage qu'on n'arrive pas au terminus. Arrêtez de
            chercher, et appreciez cette aventure.</p>
          <button routerLink="/calcultor" nbButton status="primary">
            <nb-icon icon="eye">
            </nb-icon>
            More Calculators
          </button>
          <!-- <p class="font-weight-bold mt-4">vous avez des questions? <span><a routerLink="/contact"
                rel="noopener noreferrer">Contactez-nous</a></span></p> -->
        </div>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2 hero-responsive">
        <!-- <img class="w-100 h-100" src="../../../assets/images/blogging.svg" alt="hero"> -->
        <div>
          <ng-lottie [ngClass]="{'active':imageLoaded}" [options]="optionsF"
            (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
        <!-- <div class="skeleton my-4" [ngClass]="{'not-active': imageLoaded}">
          <app-skeleton></app-skeleton>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <ng-lottie width="100%" [ngClass]="{'active':imageLoaded}" [options]="options"
          (animationCreated)="animationCreated($event)">
        </ng-lottie>
      </div>
      <div class="col-6">
        <app-form-bmi class=""></app-form-bmi>

        <!-- <app-form class=""></app-form> -->
      </div>
      <div class="col-3">
        <ng-lottie width="100%" [ngClass]="{'active':imageLoaded}" [options]="options"
          (animationCreated)="animationCreated($event)">
        </ng-lottie>
      </div>
      <!-- <img class="w-100 h-100" src="../../../assets/images/hero-icons.svg" alt="hero"> -->
    </div>
  </div>
</section>
