<section class="bg-white ">
  <div class="container ">
    <h1 class="text-secondary mt-5 pt-4 text-center">Body Mass Index BMI Calculator</h1>
    <p class="hero-subtitle col-md-9 col-12 mx-auto">
      It's very important to know your Body mass index BMI, this can help you to determine if you need to lose weight or
      you should gain more muscles, for a good health.
      There are several ways to measure an individual' Body mass index, and one of the most used is our calculator.
    </p>
    <div class="">
      <ng-adsense>
        [adClient]="'ca-pub-2374538044388820'"
        [adSlot]="7784325323"
        [display]="'inline-block'"
        [width]="320"
        [height]="108"
      </ng-adsense>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 mt-4">
        <app-form-bmi></app-form-bmi>
      </div>
      <!-- <img class="w-100 h-100" src="../../../assets/images/hero-icons.svg" alt="hero"> -->
    </div>
    <app-other-calcultor-health eleminateCalculator="bmi"></app-other-calcultor-health>
  </div>
</section>
