<nb-layout>
  <nb-layout-column style="display: flex;">
    <div class="container d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col">
          <div class="text-center mb-5 pb-3 mt-4 pt-5">
            <p class="text-uppercase mb-0 pres">Vous etes prêt à apprendre ?</p>
            <h1 class="text-secondary">Body mass index</h1>
          </div>
          <app-bmi-form></app-bmi-form>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
