<p class="font-weight-bold text-center">Other calculators</p>
<section  class="row pb-4" [innerHTML]="otherCalculators">
</section>
<!-- <div  class="timeDesigne  row pb-4">
  <div class="col-md-4 col-12" *ngFor="let calculator of arrayOtherCalculators">
      <a routerLink="{{calculator.url}}">
        <button  class="border mx-1 my-2 px-3 py-3  d-flex justify-content-between align-items-center designeButton w-100">
                <span class="pr-2">
                  {{calculator.title}}
                </span> 
                <nb-icon icon="arrow-forward-outline"></nb-icon>
        </button>
      </a>
    </div>
</div> -->