<nb-card status="success">
  <nb-card-header>
    <h2 class="hero-subtitle text-center">BMI calculate</h2>
  </nb-card-header>
  <nb-card-body class="example-items-col">
    <nb-tabset (changeTab)="tabsSet($event)">
      <nb-alert status="danger" *ngIf="error">
        {{error}}
      </nb-alert>
      <nb-tab class="metric" tabTitle="Metric">
        <form [formGroup]="calculeForm" (ngSubmit)="claculteBmi(target)">
          <!-- <div class="mb-3 d-flex justify-content-center">
            <div class="d-flex flex-column">
              <nb-checkbox class="block" status="primary">Male</nb-checkbox>
              <p class="text-center mt-2">
                <i class="fa fa-male"></i>
              </p>
            </div>
            <div class="d-flex flex-column">
              <nb-checkbox status="success">Female</nb-checkbox>
              <p class="text-center mt-2">
                <i class="fa fa-female"></i>
              </p>
            </div>
          </div> -->
          <nb-form-field class="mb-3">
            <label for="">Age</label>
            <!-- <nb-icon nbSuffix icon="at-outline" pack="eva"></nb-icon> -->
            <input type="number" nbInput fullWidth formControlName="age" status="basic" placeholder="Age"
              [(ngModel)]="modelsBmi.age">
            <small class="text-danger" *ngIf="formBmi.age.errors?.required">Age is required.
              !</small>
            <small class="text-danger" *ngIf="submitted && formBmi.age.errors?.min">Please provide an age between 2 and
              100.
              !</small>
            <!-- <div *ngIf="calculeForm.controls['age'].hasError('max')">
              Minimum required number is 15.
            </div> -->
          </nb-form-field>
          <nb-form-field class="mb-3">
            <label for="">Height<em class="" *ngIf="modelsBmi.height"> : Cm</em></label>
            <input type="number" nbInput formControlName="height" fullWidth status="basic" placeholder="cm"
              [(ngModel)]="modelsBmi.height">
            <small class="text-danger" *ngIf="submitted && formBmi.height.errors?.required">Ce champs est requis
              !</small>
          </nb-form-field>
          <nb-form-field class="mb-3">
            <label for="">Weight <em class="" *ngIf="modelsBmi.weight"> : Kg</em></label>
            <input type="number" nbInput formControlName="weight" fullWidth status="basic" placeholder="kg"
              [(ngModel)]="modelsBmi.weight">
            <small class="text-danger" *ngIf="submitted && formBmi.weight.errors?.required">Ce champs est requis
              !</small>
          </nb-form-field>
          <button nbSpinnerStatus="danger" type="submit" nbButton class="mb-3" fullWidth status="success">
            Calculate
          </button>
        </form>
      </nb-tab>
      <nb-alert status="danger" *ngIf="error">
        {{error}}
      </nb-alert>

      <nb-tab class="imperial" tabTitle="Imperial">
        <form [formGroup]="calculeFormImperial" (ngSubmit)="claculteBmiImperiale(target)">
          <nb-form-field class="mb-3">
            <label for="">Age</label>
            <!-- <nb-icon nbSuffix icon="at-outline" pack="eva"></nb-icon> -->
            <input type="number" nbInput fullWidth formControlName="age" status="basic" placeholder="Age"
              [(ngModel)]="modelsBmi.age">
            <!-- <small class="text-danger" *ngIf="submitted && formBmi.weight.errors?.required">Ce champs est requis
            !</small> -->
          </nb-form-field>
          <nb-form-field class="mb-3 ">
            <div class="d-flex justify-content-between">
              <div>
                <label for="">Height<em class=""> : Feet</em></label>
                <!-- <input type="number" nbInput formControlName="hFeet" fullWidth status="basic" placeholder="feet"
                  [(ngModel)]="modelsBmi.heightImperial" (ngModelChange)="onChange($event)"> -->
                <input type="number" nbInput formControlName="hFeet" fullWidth status="basic" placeholder="feet"
                  (value)="calculateHeightImperial(modelsBmi.heightImperial)" (ngModelChange)="onChange($event)">
              </div>
              <div class="">
                <label for="">Height<em class=""> : inches</em></label>
                <input type="number" nbInput formControlName="heightImperial" fullWidth status="basic"
                  placeholder="inches">
              </div>
            </div>
            <!-- <small class="text-danger" *ngIf="submitted && formBmi.heightImperial.errors?.required">Ce champs est requis
              !</small> -->
          </nb-form-field>
          <nb-form-field class="mb-3">
            <label for="">Weight <em class="" *ngIf="modelsBmi.weightImperial"> : Pounds</em></label>
            <input type="number" nbInput formControlName="weightImperial" fullWidth status="basic" placeholder="Pounds"
              [(ngModel)]="modelsBmi.weightImperial">
            <!-- <small class="text-danger" *ngIf="submitted && formBmi.weightImperial.errors?.required">Ce champs est requis
              !</small> -->
          </nb-form-field>
          <button nbSpinnerStatus="danger" type="submit" nbButton class="mb-3" fullWidth
            status="success">Calculate</button>
        </form>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
<div class="d-flex justify-content-center align-items-center" #target>
  <div class="my-2">
    <ng-lottie *ngIf="message == 'Severe thinness'" [options]="emojiSevere" width="80%"></ng-lottie>
    <ng-lottie *ngIf="message == 'Moderate thinness'" [options]="emojiModerate" width="85%"></ng-lottie>
    <ng-lottie *ngIf="message == 'Mild thinness'" [options]="emojiMild" width="40%"></ng-lottie>
    <ng-lottie *ngIf="message == 'Healthy weight'" [options]="emojiHealthy" width="50%"></ng-lottie>
    <ng-lottie *ngIf="message == 'Overweight'" [options]="emojiOverweight" width="25%"></ng-lottie>
    <ng-lottie *ngIf="message == 'Obese class Ⅰ'" [options]="emojiObese1" width="85%"></ng-lottie>
    <ng-lottie *ngIf="message == 'Obese class Ⅱ'" [options]="emojiObese2" width="50%"></ng-lottie>
    <ng-lottie *ngIf="message == 'Obese class Ⅲ'" [options]="emojiObese3" width="50%"></ng-lottie>
  </div>
</div>
<div class="d-flex justify-content-between my-2">
  <p class="bmi" *ngIf="bmi">Bmi = {{bmi | number}} kg/m<sup>2</sup></p>
  <p class="bmi">{{message}}</p>
</div>
<table class="table" *ngIf="addCataloge && checkAge >= 20">
  <!-- <table class="table border"> -->
  <thead class="bg-secondary">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">BMI range - kg/m<sup>2</sup></th>
      <!-- <th scope="col">Rslt<sup>2</sup></th> -->
    </tr>
  </thead>
  <tbody>
    <tr [class.msg]="message === 'Severe thinness'">
      <!-- <td scope="row" [class.msg]="message === 'Severe thinness'">Severe thinness</td> -->
      <td scope="row">Severe thinness</td>
      <td>
        <nb-icon nbSuffix icon="chevron-left-outline" pack="eva"></nb-icon>16
      </td>
    </tr>
    <tr [class.msg]="message === 'Moderate thinness'">
      <td scope="row">Moderate thinness</td>
      <td>16<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>17</td>
    </tr>
    <tr [class.msg]="message === 'Mild thinness'">
      <td scope="row">Mild thinness</td>
      <td>17<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>18.5</td>
    </tr>
    <tr [class.msg]="message === 'Healthy weight'">
      <td scope="row">Healthy weight</td>
      <td>18.5<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>24.9</td>
    </tr>
    <tr [class.msg]="message === 'Overweight'">
      <td scope="row">Overweight</td>
      <td>25<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>29.9</td>
    </tr>
    <tr [class.msg]="message === 'Obese class Ⅰ'">
      <td scope="row">Obese class <span>&#8544;</span> </td>
      <td>30<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>34.9</td>
    </tr>
    <tr [class.msg]="message === 'Obese class Ⅱ'">
      <td scope="row">Obese class <span>&#8545;</span></td>
      <td>35<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>39.9</td>
    </tr>
    <tr [class.msg]="message === 'Obese class Ⅲ'">
      <td scope="row">Obese class <span>&#8546;</span></td>
      <td>
        <nb-icon nbSuffix icon="chevron-right-outline" pack="eva"></nb-icon>40
      </td>
      <!-- <td>
          <nb-icon nbSuffix icon="chevron-left-outline" pack="eva"></nb-icon>40 and above
        </td> -->
    </tr>
  </tbody>
</table>
<table class="table" *ngIf="addCataloge && checkAge < 20">
  <!-- <table class="table border"> -->
  <thead class="bg-secondary">
    <tr>
      <th scope="col">Category</th>
      <th scope="col">BMI range - kg/m<sup>2</sup></th>
      <!-- <th scope="col">Rslt<sup>2</sup></th> -->
    </tr>
  </thead>
  <tbody>
    <tr [class.msg]="message === 'Underweight'">
      <!-- <td scope="row" [class.msg]="message === 'Severe thinness'">Severe thinness</td> -->
      <td scope="row">Underweight</td>
      <td>
        <nb-icon nbSuffix icon="chevron-left-outline" pack="eva"></nb-icon>5
      </td>
    </tr>
    <tr [class.msg]="message === 'Healthy weight'">
      <td scope="row">Healthy weight</td>
      <td>5<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>85</td>
    </tr>
    <tr [class.msg]="message === 'At risk of overweight'">
      <td scope="row">At risk of overweight</td>
      <td>85<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>95</td>
    </tr>
    <tr [class.msg]="message === 'Overweight'">
      <td scope="row">Overweight</td>
      <td>
        <nb-icon nbSuffix icon="chevron-right-outline" pack="eva"></nb-icon>95
      </td>
      <!-- <td>
          <nb-icon nbSuffix icon="chevron-left-outline" pack="eva"></nb-icon>40 and above
        </td> -->
    </tr>
  </tbody>
</table>
