<nb-layout>
  <nb-layout-header class="shadow-sm" fixed>
    <app-menu class="w-100"></app-menu>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
    <!-- <div class="icon" id="arrow">
      <div class="arrow"></div>
    </div> -->
    <div class="fixed">
      <share-buttons aria-checked="true" aria-label="share-buttons" [theme]="'material-dark'"
        [include]="['facebook','twitter','linkedin','telegram','whatsapp', 'messenger','reddit','email','copy']"
        [show]="5" [size]="0.2" [url]="'http://www.body-calculator.com/'"
        [image]="'http://www.body-calculator.com/assets/images/logo/calculator.svg'" [autoSetMeta]="false">
      </share-buttons>
    </div>
    <div class="cookies " *ngIf="showCookie">
      <div class="container">
      <div class="row ">
        <div class="col-10 pr-0">
           <p class="text-center text-white mt-3">By clicking “Accept cookies”, you agree Body-calculator.com can store cookies on your device in accordance with our <a routerLink="/private-policy">Cookie Policy</a>.</p>
           <div class="d-flex justify-content-center mb-2">
            <button (click)="storeCookie()" class="btn btn-outline-success">Accept cookies</button>
          </div>
        </div>
        <div class="col-2 pr-0">
          <nb-icon (click)="storeCookie()" class=" text-white" style="cursor: pointer; " [options]="{  height: '2rem'}" icon="close-outline"></nb-icon>
        </div>
      </div>
      
      
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer>
    <app-footer class="w-100"></app-footer>
  </nb-layout-footer>
</nb-layout>
