<nb-layout>
  <nb-layout-column class="hide-svg-login">
    <div class="container">
      <div class="row mt-5">
        <div class="col-3">
          <p>jjjj</p>
        </div>
        <div class="col-6">
          <nb-card status="success">
            <nb-card-header>Body fat porcentage</nb-card-header>
            <nb-card-body class="example-items-col">
              <nb-alert status="danger" *ngIf="error">
                {{error}}
              </nb-alert>
              <form [formGroup]="calculeBfp" (ngSubmit)="claculteBfp()">
                <label for="">Gender</label>
                <fa-icon *ngIf="checked == 'male'" class="social-icon ml-5" [icon]="faMale"></fa-icon>
                <fa-icon *ngIf="checked == 'female'" class="social-icon ml-5" [icon]="faFemale"></fa-icon>
                <nb-form-field class="mb-3">
                  <nb-select placeholder="gender" status="basic" shape="semi-round" fullWidth
                    (selectedChange)="checkedGender($event)" required>
                    <nb-option value="male">Male</nb-option>
                    <nb-option value="female">Female</nb-option>
                  </nb-select>
                </nb-form-field>
                <label for="">Age</label>
                <nb-form-field class="mb-3">
                  <input type="text" nbInput fullWidth status="basic" shape="semi-round" placeholder="Age"
                    formControlName="age">
                  <!-- <small class="text-danger" *ngIf="submitted && formBmi.weight.errors?.required">Ce champs est requis
          !</small> -->
                </nb-form-field>
                <label for="">Height :</label>
                <strong *ngIf="selectedHeight == 'cm'"> cm</strong>
                <strong *ngIf="selectedHeight == 'm'"> Metres</strong>
                <strong *ngIf="selectedHeight == 'in'"> Inches</strong>
                <strong *ngIf="selectedHeight == 'ft'"> Feet</strong>
                <nb-form-field class="mb-3">
                  <div class="d-flex justify-content-between">
                    <input type="number" nbInput formControlName="height" shape="semi-round" fullWidth status="basic"
                      placeholder="cm" [(ngModel)]="modelsBmi.height">
                    <div class="">
                      <nb-select placeholder="cm" status="basic" shape="semi-round" fullWidth
                        (selectedChange)="heightSelect($event)" required>
                        <!-- <nb-option value="cm" *ngIf="selectedItem == 'cm'">cm</nb-option> -->
                        <nb-option value="cm">cm</nb-option>
                        <nb-option value="m">Metres (m)</nb-option>
                        <!-- <nb-option value="in">Inches (in)</nb-option>
                    <nb-option value="ft">Feet (ft)</nb-option> -->
                      </nb-select>
                    </div>
                  </div>
                  <small class="text-danger" *ngIf="submitted && formBmi.height.errors?.required">Ce champs est requis
                    !</small>
                  <small class="text-danger" *ngIf="submitted && formBmi.height.errors?.min">Height must be greater than
                    40
                    in (100 cm)
                    !</small>
                </nb-form-field>
                <label for="">Weight :</label>
                <strong *ngIf="selectedWeight == 'kg'"> kg</strong>
                <strong *ngIf="selectedWeight == 'dag'"> Decagrams</strong>
                <strong *ngIf="selectedWeight == 'lb'"> Pounds</strong>
                <strong *ngIf="selectedWeight == 'oz'"> Ounces</strong>
                <nb-form-field class="mb-3">
                  <div class="d-flex justify-content-between">
                    <input type="number" nbInput formControlName="weight" shape="semi-round" fullWidth status="basic"
                      placeholder="kg" [(ngModel)]="modelsBmi.weight">
                    <div class="">
                      <nb-select placeholder="kg" status="basic" shape="semi-round" fullWidth
                        (selectedChange)="weightSelect($event)" required>
                        <nb-option value="kg">kg</nb-option>
                        <!-- <nb-option value="dag">Decagrams (dag)</nb-option>
                    <nb-option value="lb">Pounds (lb)</nb-option>
                    <nb-option value="oz">Ounces (oz)</nb-option> -->
                      </nb-select>
                    </div>
                  </div>
                  <small class="text-danger" *ngIf="submitted && formBmi.weight.errors?.required">Ce champs est requis
                    !</small>
                </nb-form-field>
                <button nbSpinnerStatus="danger" type="submit" shape="semi-round" nbButton class="mb-3" fullWidth
                  status="success">Calculate</button>
              </form>
            </nb-card-body>
          </nb-card>
          <div class="d-flex justify-content-strart my-3" *ngIf="bmi">
            <div class="border p-4">
              <p class="bmi text-center">{{message}}</p>
              <h6 class="text-center">Body Parameters</h6>
              <div class="row mt-4">
                <div class="col-6">
                  <p>Age <em class="">: {{calculeBfp.value.age}} Year</em></p>
                  <p>Height <em class="">: {{calculeBfp.value.height}} Cm</em></p>
                  <p>Weight <em class="">: {{calculeBfp.value.weight}} Kg</em></p>
                </div>
                <div class="col-6 text-center">
                  <p>Body mass index <em class="">{{bmi | number}} kg/m<sup>2</sup></em></p>
                  <p>Body fat porcentage<em class="">: {{bfp | number}} %</em></p>
                  <!-- <p>Height <em class="">: Year</em></p> -->
                </div>
              </div>
            </div>


          </div>
          <!-- <button nbButton (click)="showToast('top-left')">Top Right</button> -->
          <!-- <button nbButton status="warning" (click)="showToast('bottom-end', 'success')">Bottom Start</button> -->
          <!-- <app-result-bmi></app-result-bmi> -->
          <table class="table" *ngIf="addCataloge && checked === 'female'">
            <!-- <table class="table border"> -->
            <thead class="bg-secondary">
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Body fat</th>
                <!-- <th scope="col">Rslt<sup>2</sup></th> -->
              </tr>
            </thead>
            <tbody>
              <tr [class.msg]="message === 'Essential fat'">
                <!-- <td scope="row" [class.msg]="message === 'Severe thinness'">Severe thinness</td> -->
                <td scope="row">Essential fat</td>
                <td>
                  10<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>13
                </td>
              </tr>
              <tr [class.msg]="message === 'Athletes'">
                <td scope="row">Athletes</td>
                <td>14<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>20</td>
              </tr>
              <tr [class.msg]="message === 'Fitness'">
                <td scope="row">Fitness</td>
                <td>21<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>24</td>
              </tr>
              <tr [class.msg]="message === 'Average'">
                <td scope="row">Average</td>
                <td>25<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>31</td>
              </tr>
              <tr [class.msg]="message === 'Obese'">
                <td scope="row">Obese</td>
                <td>
                  <nb-icon nbSuffix icon="chevron-right-outline" pack="eva"></nb-icon>32
                </td>
                <!-- <td>
        <nb-icon nbSuffix icon="chevron-left-outline" pack="eva"></nb-icon>40 and above
      </td> -->
              </tr>
            </tbody>
          </table>
          <table class="table" *ngIf="addCataloge && checked === 'male'">
            <!-- <table class="table border"> -->
            <thead class="bg-secondary">
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Body fat</th>
                <!-- <th scope="col">Rslt<sup>2</sup></th> -->
              </tr>
            </thead>
            <tbody>
              <tr [class.msg]="message === 'Essential fat'">
                <!-- <td scope="row" [class.msg]="message === 'Severe thinness'">Severe thinness</td> -->
                <td scope="row">Essential fat</td>
                <td>
                  2<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>5
                </td>
              </tr>
              <tr [class.msg]="message === 'Athletes'">
                <td scope="row">Athletes</td>
                <td>6<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>13</td>
              </tr>
              <tr [class.msg]="message === 'Fitness'">
                <td scope="row">Fitness</td>
                <td>14<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>17</td>
              </tr>
              <tr [class.msg]="message === 'Average'">
                <td scope="row">Average</td>
                <td>18<nb-icon nbSuffix icon="minus-outline" pack="eva"></nb-icon>24</td>
              </tr>
              <tr [class.msg]="message === 'Obese'">
                <td scope="row">Obese</td>
                <td>
                  <nb-icon nbSuffix icon="chevron-right-outline" pack="eva"></nb-icon>25
                </td>
                <!-- <td>
        <nb-icon nbSuffix icon="chevron-left-outline" pack="eva"></nb-icon>40 and above
      </td> -->
              </tr>
            </tbody>
          </table>
          <!-- </div> -->
        </div>
        <div class="col-3">
          <p>jjjjjjjjj</p>
          <!-- <ng-lottie width="100%" [ngClass]="{'active':imageLoaded}" [options]="options"
        (animationCreated)="animationCreated($event)">
      </ng-lottie> -->
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
