@import 'themes';

@import '~@nebular/theme/styles/globals';

@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import 'mediaqueries.scss';
// @import '~ngx-sharebuttons/themes/modern/modern-light-theme';
// @import '~ngx-sharebuttons/themes/circles/circles-dark-theme';


@include nb-install() {
  @include nb-theme-global();
}

/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

.nb-theme-custom-theme nb-tabset .tab-link {
  padding: 1rem !important;
  color: #6c757d !important;
  font-weight: bolder;

  // @include mobile-l {
  //   padding: 10px 0 !important;
  //   font-size: 10px;
  // }
}

nb-layout-header nav{
  height: 60px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nb-theme-custom-theme nb-layout-header.fixed ~ .layout-container{
  padding-top: 10px !important;
}
// .example-items-col
.imperial, .metric {
  padding: 0 !important;
  margin-top:10px;
}

.nb-theme-custom-theme nb-card {
  margin-bottom: 0;
}

.layout-container .content .columns nb-layout-column{
  min-width: auto !important;
}