@import 'themes';

@import '~@nebular/theme/styles/globals';

@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import 'mediaqueries.scss';
// @import '~ngx-sharebuttons/themes/modern/modern-light-theme';
// @import '~ngx-sharebuttons/themes/circles/circles-dark-theme';


@include nb-install() {
  @include nb-theme-global();
}

;

/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}

.nb-theme-custom-theme nb-tabset .tab-link {
  padding: 1rem !important;
  color: #6c757d !important;
  font-weight: bolder;

  @include mobile-l {
    padding: 0rem !important;
    font-size: 10px;
  }
}
