<div id="menu-section">
  <menu class="menu" style="padding-inline-start: 0px !important;">
    <div class="container d-flex justify-content-between align-items-center web-header">
      <a class="d-block logo" routerLink="/"><img width="40px" height="100px"
          src="../../../assets/images/logo/calculator.svg" alt="the body logo"></a>
      <ul class="d-flex list pl-2 pl-xl-5 mr-5">
        <li class="list-item">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="">Home</a>
        </li>
        <!-- <li class="list-item">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/calcultor">Calculators</a>
        </li> -->
        <li class="dropdown list-item">
          <span>Calculators</span>
          <div class="dropdown-content" *ngIf="hideDropDown == false">
            <div class="d-flex flex-column">
              <a (click)="hideDropDownMethode()" class="pb-2" routerLink="/health/bmi-calculator">Body mass index BMI
                calculator</a>
              <a (click)="hideDropDownMethode()" class="py-2" routerLink="/health/body-fat-percentage-calculator">
                Body fat percentage BFP calculator
              </a>
              <a (click)="hideDropDownMethode()" class="py-2" routerLink="/health/ideal-weight-calculator">Ideal weight
                calculator</a>
              <a (click)="hideDropDownMethode()" class="py-2" routerLink="/health/body-shape-calculator">Body shape
                calculator</a>
              <a (click)="hideDropDownMethode()" class="py-2" routerLink="/health/bmr-calculator">Basal metabolic rate
                BMR calculator</a>
              <a (click)="hideDropDownMethode()" class="py-2" routerLink="/health/healthy-weight-calculator">Healthy
                weight calculator</a>
              <a (click)="hideDropDownMethode()" class="py-2" routerLink="/calculators/age-calculator">Age
                calculator</a>
              <a (click)="hideDropDownMethode()" class="py-2" routerLink="/calculators/date-calculator">Date
                calculator</a>
            </div>
          </div>
        </li>
        <li class="list-item">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/contact">Contact us</a>
        </li>
        <!-- <li class="list-item">
          <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/blog">Blog</a>
        </li> -->
      </ul>
    </div>
    <div class="d-flex justify-content-between align-items-center mobile-header">
      <a class="d-block logo" routerLink="/"><img width="40px" height="100px"
          src="../../../assets/images/logo/calculator.svg" alt="body calcultor logo"></a>

      <button status="dark" (click)="toggle()" aria-label="menu button" nbSuffix nbButton ghost>
        <nb-icon icon="menu-outline" [options]="{  height: '2rem',
          width: '3.25rem'  }"></nb-icon>
      </button>
    </div>

    <div #sidebar id="mySidebar" class="sidebar shadow">
      <div class="d-flex justify-content-end">
        <button status="dark" (click)="toggle()" aria-label="menu button" nbSuffix nbButton ghost>
          <nb-icon [options]="{  height: '2rem'}" icon="close-outline"></nb-icon>
        </button>
      </div>
      <a class="d-block logo text-center" (click)="toggle()" routerLink="/"><img width="60px" height="100%"
          src="../../../assets/images/logo/calculator.svg " alt="the body logo"></a>

      <a (click)="toggle()" routerLink="/" class="mt-5 d-flex justify-content-between align-items-center">
        <span class="pr-2">Home</span>
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </a>
      <a (click)="toggle()" class="pb-2 d-flex justify-content-between align-items-center"
        routerLink="/health/bmi-calculator">
        <span class="pr-2">Body mass index BMI calculator</span>
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </a>
      <a (click)="toggle()" class="py-2 d-flex justify-content-between align-items-center"
        routerLink="/health/body-fat-percentage-calculator">
        <span class="pr-2">Body fat percentage BFP calculator</span>
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </a>
      <a (click)="toggle()" class="py-2 d-flex justify-content-between align-items-center"
        routerLink="/health/ideal-weight-calculator">
        <span class="pr-2">Ideal weight calculator</span>
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </a>
      <a (click)="toggle()" class="py-2 d-flex justify-content-between align-items-center"
        routerLink="/health/body-shape-calculator">
        <span class="pr-2">Body shape calculator</span>
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </a>
      <a (click)="toggle()" class="py-2 d-flex justify-content-between align-items-center"
        routerLink="/health/bmr-calculator">
        <span class="pr-2">Basal metabolic rate BMR calculator</span>
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </a>
      <a (click)="toggle()" class="py-2 d-flex justify-content-between align-items-center"
        routerLink="/health/healthy-weight-calculator">
        <span class="pr-2">Healthy weight calculator</span>
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </a>
      <a (click)="toggle()" class="py-2 d-flex justify-content-between align-items-center"
        routerLink="/calculators/age-calculator">
        <span class="pr-2">Age calculator</span>
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </a>
      <a (click)="toggle()" class="py-2 d-flex justify-content-between align-items-center"
        routerLink="/calculators/date-calculator">
        <span class="pr-2">Date calculator</span>
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </a>
      <a (click)="toggle()" routerLink="/contact" class="pb-2 d-flex justify-content-between align-items-center">
        <span class="pr-2">Contact us</span>
        <nb-icon icon="arrow-forward-outline"></nb-icon>
      </a>
      <!-- <a (click)="toggle()" routerLink="/about" class="mb-3">About</a> -->
      <!-- <a (click)="toggle()" routerLink="/blog" class="mb-3">Blog</a> -->
    </div>
  </menu>
</div>
